*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}

p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #1f3564b6;
}


.btn a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #fb7922f8;
    color: #fb7122;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}

.main_container{
	position: relative;
} 

/* Navigation Bar */
.navbar{
	width: 100%;
	height: 65px;
	position: absolute;
	display: flex;
	justify-content:space-around;
	align-items:center;
}

.logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: #080a74ce;
	
}

.navbar_items ul{
	display: flex;
	
}

.navbar_items ul li{
	margin: 0 18px;
	
}

.navbar_items ul li a{
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.692);
	
}
.banner_image{
	background: url('image 4.jpg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}