
body {
  font-family: "Open Sans",
   sans-serif;
  color: #444;
}


a:hover {
  color: #45beff;
  text-decoration: none;
}
a {
  color: #4fa6d5;
  text-decoration: none;
}
h1, h2, h3, h4, h5, 
h6, .font-primary {
  font-family: "Roboto", sans-serif;
}

#header {
height: 80px;
transition: all 0.5s;
z-index: 997;
transition: all 0.5s;
background: #1e4356;
}
#header.header-transparent {
background: none;
}
#header.header-scrolled {
background: rgba(30, 67, 86, 0.8);
height: 60px;
}
#header .logo h1 {
font-size: 28px;
margin: 0;
padding: 4px 0;
line-height: 1;
font-weight: 400;
letter-spacing: 3px;
text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
color: #fff;
text-decoration: none;
}
#header .logo img {
padding: 0;
margin: 0;
max-height: 40px;
}

#main {
margin-top: 80px;
}


.navbar {
padding: 0;
}
.navbar ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
align-items: center;
}
.navbar li {
position: relative;
}
.navbar a, .navbar a:focus {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 0 10px 30px;
font-family: "Open Sans", sans-serif;
font-size: 14px;
color: #fff;
white-space: nowrap;
transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
font-size: 12px;
line-height: 0;
margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
color: #a2cce3;
}


.mobile-nav-toggle {
color: #fff;
font-size: 28px;
cursor: pointer;
display: none;
line-height: 0;
transition: 0.5s;
}

@media (max-width: 991px) {
.mobile-nav-toggle {
  display: block;
}

.navbar ul {
  display: none;
}
}
.navbar-mobile {
position: fixed;
overflow: hidden;
top: 0;
right: 0;
left: 0;
bottom: 0;
background: rgba(17, 38, 48, 0.9);
transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
position: absolute;
top: 15px;
right: 15px;
}
.navbar-mobile ul {
display: block;
position: absolute;
top: 55px;
right: 15px;
bottom: 15px;
left: 15px;
padding: 10px 0;
background-color: #fff;
overflow-y: auto;
transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
padding: 10px 20px;
font-size: 15px;
color: #1e4356;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
color: #68A4C4;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
margin: 15px;
}




.blog {
padding: 40px 0 20px 0;
}
.blog .entry {
padding: 30px;
margin-bottom: 60px;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .entry .entry-img {
max-height: 440px;
margin: -30px -30px 20px -30px;
overflow: hidden;
}
.blog .entry .entry-title {
font-size: 28px;
font-weight: bold;
padding: 0;
margin: 0 0 20px 0;
}
.blog .entry .entry-title a {
color: #1e4356;
transition: 0.3s;
}
.blog .entry .entry-title a:hover {
color: #68A4C4;
}
.blog .entry .entry-meta {
margin-bottom: 15px;
color: #72afce;
}
.blog .entry .entry-meta ul {
display: flex;
flex-wrap: wrap;
list-style: none;
align-items: center;
padding: 0;
margin: 0;
}
.blog .entry .entry-meta ul li + li {
padding-left: 20px;
}
.blog .entry .entry-meta i {
font-size: 16px;
margin-right: 8px;
line-height: 0;
}
.blog .entry .entry-meta a {
color: #777777;
font-size: 14px;
display: inline-block;
line-height: 1;
}
.blog .entry .entry-content p {
line-height: 24px;
}
.blog .entry .entry-content .read-more {
-moz-text-align-last: right;
text-align-last: right;
}
.blog .entry .entry-content .read-more a {
display: inline-block;
background: #68A4C4;
color: #fff;
padding: 6px 20px;
transition: 0.3s;
font-size: 14px;
}
.blog .entry .entry-content .read-more a:hover {
background: #7aafcb;
}



.blog .sidebar {
padding: 30px;
margin: 0 0 60px 20px;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .sidebar .sidebar-title {
font-size: 20px;
font-weight: 700;
padding: 0 0 0 0;
margin: 0 0 15px 0;
color: #1e4356;
position: relative;
}
.blog .sidebar .sidebar-item {
margin-bottom: 30px;
}
.blog .sidebar .search-form form {
background: #fff;
border: 1px solid #ddd;
padding: 3px 10px;
position: relative;
}
.blog .sidebar .search-form form input[type=text] {
border: 0;
padding: 4px;
border-radius: 4px;
width: calc(100% - 40px);
}
.blog .sidebar .search-form form button {
position: absolute;
top: 0;
right: 0;
bottom: 0;
border: 0;
background: none;
font-size: 16px;
padding: 0 15px;
margin: -1px;
background: #68A4C4;
color: #fff;
transition: 0.3s;
border-radius: 0 4px 4px 0;
line-height: 0;
}
.blog .sidebar .search-form form button i {
line-height: 0;
}
.blog .sidebar .search-form form button:hover {
background: #77adca;
}



.blog .sidebar .recent-posts .post-item + .post-item {
margin-top: 15px;
}
.blog .sidebar .recent-posts img {
width: 80px;
float: left;
}
.blog .sidebar .recent-posts h4 {
font-size: 15px;
margin-left: 95px;
font-weight: bold;
}
.blog .sidebar .recent-posts h4 a {
color: #1e4356;
transition: 0.3s;
}
.blog .sidebar .recent-posts h4 a:hover {
color: #68A4C4;
}
.blog .sidebar .recent-posts time {
display: block;
margin-left: 95px;
font-style: italic;
font-size: 14px;
color: #aaaaaa;
}
