body {
    font-family: "Open Sans", sans-serif;
    color: #444;
  }
  
  a {
    color: #4fa6d5;
    text-decoration: none;
  }
  
  a:hover {
    color: #45beff;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Roboto", sans-serif;
  }
  