body {
    font-family: "Open Sans", sans-serif;
    color: #444;
    background: linear-gradient(to right, rgba(90, 148, 177, 0.8), rgba(30, 67, 86, 0.6)), url("") center top no-repeat;
}

h2 {
    text-align: center;
    color: rgb(20, 55, 95);
    text-decoration: none;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: bold;
}

h3 {
    color: #45beff;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
    text-align: center;
}

h5 {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 20em;
    margin-right: 20em;
    text-align: center;
}

a:hover {
    color: #45beff;
    text-decoration: none;
}

.img {
    padding: 100px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
    font-family: "Roboto", sans-serif;
}

#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #081f2b;
}

#header.header-scrolled {
    background: rgba(30, 67, 86, 0.8);
    height: 60px;
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

#main {
    margin-top: 80px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar li:hover>a {
    color: #a2cce3;
}

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(17, 38, 48, 0.9);
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #1e4356;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #68A4C4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

#footer {
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("") center top no-repeat;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #0d2735;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #a2cce3;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    margin: 3px;
    background: #68A4C4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #468db3;
}

#footer .footer-top {
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("") center top no-repeat;
    border-top: 1px solid #17455e;
    border-bottom: 1px solid #123649;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    color: #a2cce3;
    font-weight: 600;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 18px;
    font-weight: 600;
    color: #a2cce3;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #a2cce3;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #a2cce3;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #a2cce3;
}

#section-img {
    padding: 0%;
    margin: auto;
}

#section-h5,
h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

@media all and (max-width:500px) {
    body {
        font-family: "Open Sans", sans-serif;
        color: #444;
        background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("") center top no-repeat;
    }
    h2 {
        text-align: center;
        color: rgb(20, 55, 95);
        text-decoration: none;
        padding: 0;
        margin: 20px 20px 20px 0;
        font-weight: bold;
    }
    h3 {
        color: #45beff;
        font-family: 'Open Sans', sans-serif;
        font-size: 34px;
        font-weight: 300;
        line-height: 20px;
        margin: 20px 20px 16px;
        text-align: center;
    }
    h5 {
        color: #222;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 20em;
        margin-right: 20em;
        text-align: center;
    }
    a:hover {
        color: #45beff;
        text-decoration: none;
    }
}