body {
    font-family: "Open Sans", sans-serif;
    color: #444;
    background: linear-gradient(to right, rgba(194, 199, 202, 0.8), rgba(228, 234, 236, 0.6)), url("../images/autumin.jpeg") center top no-repeat;
}

a {
    color: #4fa6d5;
    text-decoration: none;
}

a:hover {
    color: #45beff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
    font-family: "Roboto", sans-serif;
}
