*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}
